
spring:
  config:
    import: secrets.yml
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://cloneproject.coi5bl8jchez.ap-northeast-2.rds.amazonaws.com:3306/cloneproject?serverTimezone=Asia/Seoul
    username: ${RDS.username}
    password: ${RDS.password}
  jpa:
    hibernate:
      ddl-auto: create #create update none
      use-new-id-generator-mappings: false
    database: mysql
    database-platform: org.hibernate.spatial.dialect.mysql.MySQL56InnoDBSpatialDialect

jwt:
  secret: ${jwt.secret}